* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
}

header {
  background-color: blueviolet;
  padding: 16px 120px;
  text-align: center;
}

header input {
  padding: 0 10px;
  border-radius: 8px;
  height: 60px;
  width: 100%;
  font-size: 19px;
}

header input:focus {
  outline: none;
  border: 2px solid #fff;
}

header input::placeholder {
  color: #af2222;
  font-size: 19px;
}

header input:focus::placeholder {
  color: #c2a1a1;
  font-size: 19px;
}

#tarefas {
  padding: 60px 120px;
}

#tarefas h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 48px;
  margin-bottom: 20px;
}

#tarefas h2 button {
  height: 46px;
  border-radius: 8px;
  padding: 0 25px;
  background-color: blueviolet;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  cursor: pointer;
  transition-duration: 200ms;
}

#tarefas h2 button:hover {
  background-color: #2d0c55;
}

#tarefas h2 button:active {
  background-color: #1f0a3d;
}

#tarefas h6 {
  font-size: 26px;
  text-align: center;
  color: #999;
}

#tarefas ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

#tarefas ul li {
  width: calc(25% - 12px);
  padding: 16px;
  border-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 10px #00000015;
  display : initial;
}
#tarefas ul li.oculto {
  display: none;
}

#tarefas ul li h5 {
  font-size: 16px;
  margin-bottom: 16px;
}

#tarefas ul li p {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

/* Ícones de deletar e editar agrupados */
#tarefas ul li .status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  fill: #999;
}

#tarefas ul li .delete,
#tarefas ul li .edit {
  cursor: pointer;
}

#tarefas ul li .delete box-icon:hover,
#tarefas ul li .edit box-icon:hover {
  fill: blueviolet;
}

/* Modal */
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00000090;
  visibility: hidden;
  opacity: 0;
  transition-duration: 200ms;
}

#overlay.active {
  visibility: visible;
  opacity: 1;
}

#overlay.active + .modal {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 400px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 18px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition-duration: 200ms;
}

.modal form h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal form h3 box-icon {
  fill: #999;
  cursor: pointer;
}

.modal form h3 box-icon:hover {
  fill: blueviolet;
}

.modal form h3 box-icon:active {
  fill: #2d0c55;
}

.modal form label {
  font-size: 14px;
  padding: 5px;
  margin-bottom: 10px;
  display: block;
  font-weight: bold;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.modal form input,
.modal form textarea {
  width: 100%;
  height: 48px;
  padding-left: 10px;
  border: 3px solid #dedede;
  border-radius: 8px;
  margin-bottom: 18px;
  transition-duration: 200ms;
}

.modal form input:focus,
.modal form textarea:focus {
  border: 2px solid blueviolet;
}

.modal form textarea {
  padding: 12px;
  height: 150px;
}

.modal form button {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  background-color: blueviolet;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  cursor: pointer;
  transition-duration: 200ms;
}

.modal form button:hover {
  background-color: #2d0c55;
}
